# Heatmap
# Plot rectangular data as a color-encoded matrix

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px # using this only for dataset not for plotting
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# loadind data set
gap = px.data.gapminder()
temp = gap.pivot(index='country',columns='year',values='lifeExp')
temp

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Afghanistan,28.801,30.332,31.997,34.020,36.088,38.438,39.854,40.822,41.674,41.763,42.129,43.828
Albania,55.230,59.280,64.820,66.220,67.690,68.930,70.420,72.000,71.581,72.950,75.651,76.423
Algeria,43.077,45.685,48.303,51.407,54.518,58.014,61.368,65.799,67.744,69.152,70.994,72.301
Angola,30.015,31.999,34.000,35.985,37.928,39.483,39.942,39.906,40.647,40.963,41.003,42.731
Argentina,62.485,64.399,65.142,65.634,67.065,68.481,69.942,70.774,71.868,73.275,74.340,75.320
...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,40.412,42.887,45.363,47.838,50.254,55.764,58.816,62.820,67.662,70.672,73.017,74.249
West Bank and Gaza,43.160,45.671,48.127,51.631,56.532,60.765,64.406,67.046,69.718,71.096,72.370,73.422
"Yemen, Rep.",32.548,33.970,35.180,36.984,39.848,44.175,49.113,52.922,55.599,58.020,60.308,62.698
Zambia,42.038,44.077,46.023,47.768,50.107,51.386,51.821,50.821,46.100,40.238,39.193,42.384
Zimbabwe,48.451,50.469,52.358,53.995,55.635,57.674,60.363,62.351,60.377,46.809,39.989,43.487

### There's only 1 way of plotting heatmap -> .heatmap(), it is an axis level function and there's no figure level function

In [ ]:
# heatmap 
sns.heatmap()

TypeError: heatmap() missing 1 required positional argument: 'data'