# Categorical Plots

## Categorical Scatter Plot
### Stripplot
### Swarmplot

In [7]:
import numpy as np
import pandas as pd
import plotly.express as px # using this only for dataset not for plotting
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# importing dataset
tips = pd.read_csv('/Users/mohit/Documents/seaborn/datasets/tips.csv')
tips

iris = px.data.iris()
iris

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3
146,6.3,2.5,5.0,1.9,virginica,3
147,6.5,3.0,5.2,2.0,virginica,3
148,6.2,3.4,5.4,2.3,virginica,3
149,5.9,3.0,5.1,1.8,virginica,3

#### strip plot

In [11]:
tips

     total_bill   tip     sex smoker   day    time  size
0         24.98  3.65  Female    Yes   Sat  Dinner     4
1         48.03  4.47    Male     No   Fri  Dinner     6
2         39.28  8.66    Male     No   Fri  Dinner     3
3         33.95  3.85    Male     No   Sat   Lunch     5
4         16.24  2.53    Male    Yes   Sat   Lunch     1
..          ...   ...     ...    ...   ...     ...   ...
245       47.13  4.18  Female    Yes   Fri   Lunch     4
246       27.13  6.25  Female     No   Sun  Dinner     2
247       48.67  1.70  Female     No  Thur   Lunch     6
248       48.54  9.77  Female    Yes   Sat   Lunch     5
249       44.12  9.88  Female    Yes   Sat   Lunch     5

[250 rows x 7 columns]