## Started learning Seaborn

In [8]:
import numpy as np
import pandas as pd
import plotly.express as px # using this only for dataset not for plotting
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# loadind data set

tips = pd.read_csv('/Users/mohit/Documents/seaborn/datasets/tips.csv')
tips

   total_bill   tip     sex smoker   day    time  size
0       16.99  1.01  Female     No   Sun  Dinner     2
1       10.34  1.66    Male     No   Sun  Dinner     3
2       21.01  3.50    Male     No   Sun  Dinner     3
3       23.68  3.31    Male     No   Sun  Dinner     2
4       24.59  3.61  Female     No   Sun  Dinner     4
5       29.03  5.92    Male     No   Sat  Dinner     3
6       27.18  2.00  Female    Yes   Sat  Dinner     2
7       22.67  2.00    Male    Yes   Sat  Dinner     2
8       17.82  1.75    Male     No   Sat  Dinner     2
9       18.78  3.00  Female     No  Thur  Dinner     2