# Categorical Estimate Plot -> for central tendency

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
tips = pd.read_csv('/Users/mohit/Documents/seaborn/datasets/tips.csv')
tips

     total_bill   tip     sex smoker   day    time  size
0         24.98  3.65  Female    Yes   Sat  Dinner     4
1         48.03  4.47    Male     No   Fri  Dinner     6
2         39.28  8.66    Male     No   Fri  Dinner     3
3         33.95  3.85    Male     No   Sat   Lunch     5
4         16.24  2.53    Male    Yes   Sat   Lunch     1
..          ...   ...     ...    ...   ...     ...   ...
245       47.13  4.18  Female    Yes   Fri   Lunch     4
246       27.13  6.25  Female     No   Sun  Dinner     2
247       48.67  1.70  Female     No  Thur   Lunch     6
248       48.54  9.77  Female    Yes   Sat   Lunch     5
249       44.12  9.88  Female    Yes   Sat   Lunch     5

[250 rows x 7 columns]